In [1]:
import os
import glob
import sys


import pyspark
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

In [2]:
# проверка на существование переменной и контекста
if not 'sc' in globals():
    conf = SparkConf().setAppName("TestName")
    sc = SparkContext(conf=conf)

In [4]:
# создание дата сета
mammals = sc.parallelize(["Lion", "Dolphin", "Whale"])
aquatics = sc.parallelize(["Shark", "Dolphin", "Whale"])
zoo = mammals.union(aquatics)
zoo.collect()

['Lion', 'Dolphin', 'Whale', 'Shark', 'Dolphin', 'Whale']

In [5]:
# поиск пересекающихся значений (аналог SET)
mammals = sc.parallelize(["Lion", "Dolphin", "Whale"])
aquatics = sc.parallelize(["Shark", "Dolphin", "Whale"])
aquaticMammals = mammals.intersection(aquatics)
aquaticMammals.collect()

['Dolphin', 'Whale']

In [6]:
# делаем вычитание дата сета из другого дата сета
mammals = sc.parallelize(["Lion", "Dolphin", "Whale"])
aquatics =sc.parallelize([])
fishes = aquatics.subtract(mammals)
fishes.collect()

[]

In [7]:
# применем метод distinct(оставит только уникальные) и вернем объект из Spark Context в обычный объект Python
sc.parallelize(["Lion", "Dolphin", "Whale","Shark", "Dolphin", "Whale"]).distinct().collect()

['Dolphin', 'Shark', 'Lion', 'Whale']